[submodule "desktop-apps"]
	path = desktop-apps
	url = https://github.com/ONLYOFFICE/desktop-apps.git
[submodule "desktop-sdk"]
	path = desktop-sdk
	url = https://github.com/ONLYOFFICE/desktop-sdk.git
[submodule "core"]
	path = core
	url = https://github.com/ONLYOFFICE/core.git
[submodule "sdkjs"]
	path = sdkjs
	url = https://github.com/ONLYOFFICE/sdkjs.git
[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/ONLYOFFICE/dictionaries.git
[submodule "web-apps"]
	path = web-apps
	url = https://github.com/ONLYOFFICE/web-apps-pro.git
