name: Publish to WinGet
on:
  release:
    types: [released]
jobs:
  publish:
    runs-on: windows-latest
    steps:
      - name: Publish to WinGet
        uses: vedantmgoyal9/winget-releaser@main
        with:
          identifier: ONLYOFFICE.DesktopEditors
          installers-regex: '(x86|x64|arm64)\.exe$'
          token: ${{ secrets.WINGET_TOKEN }}

